.App {
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.army-list,
.robot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.army-list div,
.robot-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.army-list div img,
.robot-list div img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.army-list div h3,
.robot-list div h2 {
  margin: 0;
  font-size: 18px;
}

.army-list div button,
.robot-list div button {
  margin-top: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
